.add{
    color: blue;
    font-size: 5rem;
    padding-left: 50%;
}
 .title{
    color:beige;
    font-size: 5rem;
    padding-left: 30%;
    justify-content: center;
  
}

body{
    background-color: #262626;
}